venv/*
*.swp
*.swa
*.pyc
.idea
web/package-lock.json
web/static/data/*
web/node_modules/*
web/db_repository/*
web/app.db
web/*.spec
web/static/build/js/script.js
web/static/build/css/style.css
web/dist/*
web/static/result/*
web/migrations/*
*.lock
__pycache__/*
data/*
exif_utils/tmp/*
exif_utils/out/*
exif_utils/__pycache__/*

